
AR/lab3/app/src/main/assets/models/cannon.obj
AR/lab3/app/src/main/assets/models/target.obj
AR/lab3/app/src/main/assets/models/viking.obj
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/Border.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/Mode.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/ObjectRenderer.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/PlaneAttachment.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/Snake.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/MainActivity.kt
AR/lab3/app/src/main/res/values/strings.xml
AR/lab3/app/src/main/assets/models/cannon.obj
AR/lab3/app/src/main/assets/models/target.obj
AR/lab3/app/src/main/assets/models/viking.obj
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/Mode.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/ObjectRenderer.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/common/rendering/PlaneAttachment.kt
AR/lab3/app/src/main/java/com/raywenderlich/android/targetpractice/MainActivity.kt
AR/lab3/app/src/main/res/values/strings.xml
AR/lab3/app/src/main/assets/models/target.obj
